.radiantthemes-custom-button.rt2138609012 .radiantthemes-custom-button-main:hover {
    background-color: #ffffff !important;
    border-top-color: #434444 !important;
    border-bottom-color: #434444 !important;
    border-left-color: #434444 !important;
    border-right-color: #434444 !important;
    color: #434444 !important;
}