.radiantthemes-list.rt564625939 ul li:before {
    color: #147296;
}

.radiantthemes-list.rt424671649 ul li:before {
    color: #147296;
}

.radiantthemes-list.rt1641010612 ul li:before {
    color: #147296;
}

.radiantthemes-list.rt1142340262 ul li:before {
    color: #147296;
}