.radiantthemes-custom-button.rt1773860203 .radiantthemes-custom-button-main:hover {
    background-color: #2c3e50 !important;
    border-top-color: #2c3e50 !important;
    border-right-color: #2c3e50 !important;
    border-bottom-color: #2c3e50 !important;
    border-left-color: #2c3e50 !important;
    color: #ffffff !important;
}

.radiantthemes-custom-button.rt2025515002 .radiantthemes-custom-button-main:hover {
    background-color: #2c3e50 !important;
    border-top-color: #2c3e50 !important;
    border-right-color: #2c3e50 !important;
    border-bottom-color: #2c3e50 !important;
    border-left-color: #2c3e50 !important;
    color: #ffffff !important;
}

.radiantthemes-custom-button.rt852503734 .radiantthemes-custom-button-main:hover {
    background-color: #ffffff !important;
    border-top-color: #434444 !important;
    border-right-color: #434444 !important;
    border-bottom-color: #434444 !important;
    border-left-color: #434444 !important;
    color: #434444 !important;
}

.radiantthemes-custom-button.rt1146985783 .radiantthemes-custom-button-main:hover {
    background-color: #ffffff !important;
    border-top-color: #434444 !important;
    border-right-color: #434444 !important;
    border-bottom-color: #434444 !important;
    border-left-color: #434444 !important;
    color: #434444 !important;
}

.radiantthemes-custom-button.rt295324596 .radiantthemes-custom-button-main:hover {
    background-color: #2c3e50 !important;
}

.radiantthemes-custom-button.rt326930214 .radiantthemes-custom-button-main:hover {
    background-color: #2c3e50 !important;
}