.rt-animated-link.element-one.rt1872216038>.holder>.main-link,
.rt-animated-link.element-two.rt1872216038>.holder>.main-link,
.rt-animated-link.element-three.rt1872216038>.holder>.main-link,
.rt-animated-link.element-four.rt1872216038>.holder>.main-link,
.rt-animated-link.element-five.rt1872216038>.holder>.main-link,
.rt-animated-link.element-six.rt1872216038>.holder>.main-link,
.rt-animated-link.element-seven.rt1872216038>.holder>.main-link,
.rt-animated-link.element-eight.rt1872216038>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt1872216038>.holder>.main-link:before,
.rt-animated-link.element-four.rt1872216038>.holder>.main-link:before,
.rt-animated-link.element-five.rt1872216038>.holder>.main-link:before,
.rt-animated-link.element-six.rt1872216038>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt1872216038>.holder>.main-link:before,
.rt-animated-link.element-seven.rt1872216038>.holder>.main-link:after,
.rt-animated-link.element-eight.rt1872216038>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt1872216038>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt1241781476>.holder>.main-link,
.rt-animated-link.element-two.rt1241781476>.holder>.main-link,
.rt-animated-link.element-three.rt1241781476>.holder>.main-link,
.rt-animated-link.element-four.rt1241781476>.holder>.main-link,
.rt-animated-link.element-five.rt1241781476>.holder>.main-link,
.rt-animated-link.element-six.rt1241781476>.holder>.main-link,
.rt-animated-link.element-seven.rt1241781476>.holder>.main-link,
.rt-animated-link.element-eight.rt1241781476>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt1241781476>.holder>.main-link:before,
.rt-animated-link.element-four.rt1241781476>.holder>.main-link:before,
.rt-animated-link.element-five.rt1241781476>.holder>.main-link:before,
.rt-animated-link.element-six.rt1241781476>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt1241781476>.holder>.main-link:before,
.rt-animated-link.element-seven.rt1241781476>.holder>.main-link:after,
.rt-animated-link.element-eight.rt1241781476>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt1241781476>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt1178876957>.holder>.main-link,
.rt-animated-link.element-two.rt1178876957>.holder>.main-link,
.rt-animated-link.element-three.rt1178876957>.holder>.main-link,
.rt-animated-link.element-four.rt1178876957>.holder>.main-link,
.rt-animated-link.element-five.rt1178876957>.holder>.main-link,
.rt-animated-link.element-six.rt1178876957>.holder>.main-link,
.rt-animated-link.element-seven.rt1178876957>.holder>.main-link,
.rt-animated-link.element-eight.rt1178876957>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt1178876957>.holder>.main-link:before,
.rt-animated-link.element-four.rt1178876957>.holder>.main-link:before,
.rt-animated-link.element-five.rt1178876957>.holder>.main-link:before,
.rt-animated-link.element-six.rt1178876957>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt1178876957>.holder>.main-link:before,
.rt-animated-link.element-seven.rt1178876957>.holder>.main-link:after,
.rt-animated-link.element-eight.rt1178876957>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt1178876957>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt753067564>.holder>.main-link,
.rt-animated-link.element-two.rt753067564>.holder>.main-link,
.rt-animated-link.element-three.rt753067564>.holder>.main-link,
.rt-animated-link.element-four.rt753067564>.holder>.main-link,
.rt-animated-link.element-five.rt753067564>.holder>.main-link,
.rt-animated-link.element-six.rt753067564>.holder>.main-link,
.rt-animated-link.element-seven.rt753067564>.holder>.main-link,
.rt-animated-link.element-eight.rt753067564>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt753067564>.holder>.main-link:before,
.rt-animated-link.element-four.rt753067564>.holder>.main-link:before,
.rt-animated-link.element-five.rt753067564>.holder>.main-link:before,
.rt-animated-link.element-six.rt753067564>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt753067564>.holder>.main-link:before,
.rt-animated-link.element-seven.rt753067564>.holder>.main-link:after,
.rt-animated-link.element-eight.rt753067564>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt753067564>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt97360933>.holder>.main-link,
.rt-animated-link.element-two.rt97360933>.holder>.main-link,
.rt-animated-link.element-three.rt97360933>.holder>.main-link,
.rt-animated-link.element-four.rt97360933>.holder>.main-link,
.rt-animated-link.element-five.rt97360933>.holder>.main-link,
.rt-animated-link.element-six.rt97360933>.holder>.main-link,
.rt-animated-link.element-seven.rt97360933>.holder>.main-link,
.rt-animated-link.element-eight.rt97360933>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt97360933>.holder>.main-link:before,
.rt-animated-link.element-four.rt97360933>.holder>.main-link:before,
.rt-animated-link.element-five.rt97360933>.holder>.main-link:before,
.rt-animated-link.element-six.rt97360933>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt97360933>.holder>.main-link:before,
.rt-animated-link.element-seven.rt97360933>.holder>.main-link:after,
.rt-animated-link.element-eight.rt97360933>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt97360933>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt1569208552>.holder>.main-link,
.rt-animated-link.element-two.rt1569208552>.holder>.main-link,
.rt-animated-link.element-three.rt1569208552>.holder>.main-link,
.rt-animated-link.element-four.rt1569208552>.holder>.main-link,
.rt-animated-link.element-five.rt1569208552>.holder>.main-link,
.rt-animated-link.element-six.rt1569208552>.holder>.main-link,
.rt-animated-link.element-seven.rt1569208552>.holder>.main-link,
.rt-animated-link.element-eight.rt1569208552>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt1569208552>.holder>.main-link:before,
.rt-animated-link.element-four.rt1569208552>.holder>.main-link:before,
.rt-animated-link.element-five.rt1569208552>.holder>.main-link:before,
.rt-animated-link.element-six.rt1569208552>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt1569208552>.holder>.main-link:before,
.rt-animated-link.element-seven.rt1569208552>.holder>.main-link:after,
.rt-animated-link.element-eight.rt1569208552>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt1569208552>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt535808408>.holder>.main-link,
.rt-animated-link.element-two.rt535808408>.holder>.main-link,
.rt-animated-link.element-three.rt535808408>.holder>.main-link,
.rt-animated-link.element-four.rt535808408>.holder>.main-link,
.rt-animated-link.element-five.rt535808408>.holder>.main-link,
.rt-animated-link.element-six.rt535808408>.holder>.main-link,
.rt-animated-link.element-seven.rt535808408>.holder>.main-link,
.rt-animated-link.element-eight.rt535808408>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt535808408>.holder>.main-link:before,
.rt-animated-link.element-four.rt535808408>.holder>.main-link:before,
.rt-animated-link.element-five.rt535808408>.holder>.main-link:before,
.rt-animated-link.element-six.rt535808408>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt535808408>.holder>.main-link:before,
.rt-animated-link.element-seven.rt535808408>.holder>.main-link:after,
.rt-animated-link.element-eight.rt535808408>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt535808408>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt1839814443>.holder>.main-link,
.rt-animated-link.element-two.rt1839814443>.holder>.main-link,
.rt-animated-link.element-three.rt1839814443>.holder>.main-link,
.rt-animated-link.element-four.rt1839814443>.holder>.main-link,
.rt-animated-link.element-five.rt1839814443>.holder>.main-link,
.rt-animated-link.element-six.rt1839814443>.holder>.main-link,
.rt-animated-link.element-seven.rt1839814443>.holder>.main-link,
.rt-animated-link.element-eight.rt1839814443>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt1839814443>.holder>.main-link:before,
.rt-animated-link.element-four.rt1839814443>.holder>.main-link:before,
.rt-animated-link.element-five.rt1839814443>.holder>.main-link:before,
.rt-animated-link.element-six.rt1839814443>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt1839814443>.holder>.main-link:before,
.rt-animated-link.element-seven.rt1839814443>.holder>.main-link:after,
.rt-animated-link.element-eight.rt1839814443>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt1839814443>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt895439475>.holder>.main-link,
.rt-animated-link.element-two.rt895439475>.holder>.main-link,
.rt-animated-link.element-three.rt895439475>.holder>.main-link,
.rt-animated-link.element-four.rt895439475>.holder>.main-link,
.rt-animated-link.element-five.rt895439475>.holder>.main-link,
.rt-animated-link.element-six.rt895439475>.holder>.main-link,
.rt-animated-link.element-seven.rt895439475>.holder>.main-link,
.rt-animated-link.element-eight.rt895439475>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt895439475>.holder>.main-link:before,
.rt-animated-link.element-four.rt895439475>.holder>.main-link:before,
.rt-animated-link.element-five.rt895439475>.holder>.main-link:before,
.rt-animated-link.element-six.rt895439475>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt895439475>.holder>.main-link:before,
.rt-animated-link.element-seven.rt895439475>.holder>.main-link:after,
.rt-animated-link.element-eight.rt895439475>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt895439475>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt610091382>.holder>.main-link,
.rt-animated-link.element-two.rt610091382>.holder>.main-link,
.rt-animated-link.element-three.rt610091382>.holder>.main-link,
.rt-animated-link.element-four.rt610091382>.holder>.main-link,
.rt-animated-link.element-five.rt610091382>.holder>.main-link,
.rt-animated-link.element-six.rt610091382>.holder>.main-link,
.rt-animated-link.element-seven.rt610091382>.holder>.main-link,
.rt-animated-link.element-eight.rt610091382>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt610091382>.holder>.main-link:before,
.rt-animated-link.element-four.rt610091382>.holder>.main-link:before,
.rt-animated-link.element-five.rt610091382>.holder>.main-link:before,
.rt-animated-link.element-six.rt610091382>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt610091382>.holder>.main-link:before,
.rt-animated-link.element-seven.rt610091382>.holder>.main-link:after,
.rt-animated-link.element-eight.rt610091382>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt610091382>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt1107449661>.holder>.main-link,
.rt-animated-link.element-two.rt1107449661>.holder>.main-link,
.rt-animated-link.element-three.rt1107449661>.holder>.main-link,
.rt-animated-link.element-four.rt1107449661>.holder>.main-link,
.rt-animated-link.element-five.rt1107449661>.holder>.main-link,
.rt-animated-link.element-six.rt1107449661>.holder>.main-link,
.rt-animated-link.element-seven.rt1107449661>.holder>.main-link,
.rt-animated-link.element-eight.rt1107449661>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt1107449661>.holder>.main-link:before,
.rt-animated-link.element-four.rt1107449661>.holder>.main-link:before,
.rt-animated-link.element-five.rt1107449661>.holder>.main-link:before,
.rt-animated-link.element-six.rt1107449661>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt1107449661>.holder>.main-link:before,
.rt-animated-link.element-seven.rt1107449661>.holder>.main-link:after,
.rt-animated-link.element-eight.rt1107449661>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt1107449661>.holder:before {
    border-color: #000000;
}

.rt-animated-link.element-one.rt756905407>.holder>.main-link,
.rt-animated-link.element-two.rt756905407>.holder>.main-link,
.rt-animated-link.element-three.rt756905407>.holder>.main-link,
.rt-animated-link.element-four.rt756905407>.holder>.main-link,
.rt-animated-link.element-five.rt756905407>.holder>.main-link,
.rt-animated-link.element-six.rt756905407>.holder>.main-link,
.rt-animated-link.element-seven.rt756905407>.holder>.main-link,
.rt-animated-link.element-eight.rt756905407>.holder>.main-link {
    color: #000000;
}

.rt-animated-link.element-three.rt756905407>.holder>.main-link:before,
.rt-animated-link.element-four.rt756905407>.holder>.main-link:before,
.rt-animated-link.element-five.rt756905407>.holder>.main-link:before,
.rt-animated-link.element-six.rt756905407>.holder>.main-link>.dot-holder>.dots,
.rt-animated-link.element-seven.rt756905407>.holder>.main-link:before,
.rt-animated-link.element-seven.rt756905407>.holder>.main-link:after,
.rt-animated-link.element-eight.rt756905407>.holder>.main-link-fliper {
    background-color: #000000;
}

.rt-animated-link.element-one.rt756905407>.holder:before {
    border-color: #000000;
}